@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,600;1,100;1,400&family=Poppins:wght@300;500;600&display=swap');

:root{
    --white: #F7F7F7;
    --black: #000000;
    --purple: #95389E;
    --green: #43D8C9;
    --shadow: #464646;
    --font: 'Poppins', sans-serif;
    --font2:'Jost', sans-serif;
}

body{
    background: url(/img/bg-desktop.jpg) no-repeat top center/cover;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: var(--font);
}


body::before {
    content: '';
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
   
}

.logo{
    text-align: center;
    justify-content: center;
    align-items: center;

}

.logo img{
    
    width: 40%;

}

.header{
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.container{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 600px;
    height: 600px;
    background: var(--shadow);
    border-radius: 10px;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(0, 0, 0, 0.75 );
    border: 1px solid var(--purple);
    transform: translateX(-50%);
}

.container .titulo {
    font-size: 25px;
    font-weight: 500;
    color: var(--white);
}

.user_detalhes input{
    height: 35px;
    width: 100%;
    color: var(--white);
    background-color: var(--shadow);
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.user_detalhes input:hover{
    background-color: #444;
}

.input-box{
    margin-bottom: 25px;
}

.user_detalhes span {
    color: var(--white);
    font-size: 15px;
    margin-bottom: 5px;
}

.button button{
    height: 50px;
    width: 100%;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}
 


