@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,600;1,100;1,400&family=Poppins:wght@300;500;600&display=swap');

:root{
    --white: #F7F7F7;
    --black: #000000;
    --purple: #95389E;
    --green: #43D8C9;
    --shadow: #464646;
    --font: 'Poppins', sans-serif;
    --font2:'Jost', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background: url(/img/bg-desktop.jpg) no-repeat top center/cover;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: var(--font2);
}



body::before {
    content: '';
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
}


.logo img{
    height: 45px;
    width: 167px;

}

.header{
    padding: 20px 50px;
    position: relative;
    z-index: 10;
    width: 50%;
}


/*  */

.wrapper {
    padding: 40px;
    z-index: 90;
    position: relative;
    max-width: 700px;
    height: 700px;
    margin-left: 50%;
    background-color: rgb(0, 0, 0, 0.75 );
    border: 1px solid var(--purple);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
    
  }
  .credit-card {
    position: relative;
    width: 350px;
    height: 220px;
    margin: auto;
    transform-style: preserve-3d;
    transition: 0.3s;
  }
  .card-front,
  .card-back {
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(#33a4f8, #206df9);
    border-radius: 1em;
    backface-visibility: hidden;
    font-family: var(--font);
  }
  .card-front {
    padding: 2em 1em;
  }
  .branding {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .branding img {
    width: 50px;
    height: auto;
  }
  .card-back {
    position: absolute;
    transform: rotateY(180deg);
  }
  .card-number {
    color: var(--white);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    margin-top: 3em;
  }
  .details {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    font-size: 0.8em;
  }
  .details span {
    display: block;
    color: var(--white);
  }
  .details #card-holder-name {
    text-transform: uppercase;
  }
  .card-back .black-strip {
    position: relative;
    background-color: var(--white);
    height: 50px;
    top: 2em;
  }
  .card-back .white-strip {
    top: 3em;
    position: relative;
    text-align: right;
  }
  .card-back .white-strip span {
    margin-right: 1em;
  }
  .card-back .white-strip div {
    height: 30px;
    border-radius: 10px;
    margin-top: 0.5em;
  }
  .card-back .visa-logo {
    position: absolute;
    width: 20px;
    margin-top: 4em;
    right: 1em;
  }
  form {
    margin-top: 2em;
  }
  label,
  input {
    display: block;
  }
  label {
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  
  label {
    margin-bottom: 0.5em;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font);
  }
  input {
    width: 100%;
    border: 1px solid #000000;
    padding: 1em 0.5em;
    border-radius: 0.5em;
    font-family: var(--font);
  }
  input:not(:last-child) {
    margin-bottom: 1em;
  }
  form .date-cvv {
    display: flex;
    justify-content: space-between;
 }


 .bt-registrar input{
    cursor: pointer;
}

.bt-registrar input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: var(--white);
    background: var(--purple);
}

.bt-registrar input:hover{
    background-color: var(--green);
    cursor: pointer;
}
select {
    
    padding: 1em 0.5em;
    border: 1px solid black;
    width: 100%;
    font-family: var(--font);
    border-radius: 0.5em;
    
  }



/* CONFIGURAÇÃO DO FOOOTER*/

footer{
    margin-top: 3%;
    width: 100%;
    color: var(--white);
   font-family: var(--font2);
}

.footer-link
{
    text-decoration: none;
}
#footer-content{
    background-color: var(--black);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1{
    margin-bottom: 0.75rem;
}

#footer-social-media{
    display: flex;
    gap: 2rem;
    margin: 1,5rem;
}

#footer-social-media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--white);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover{
    opacity: 0.8;
}


#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807)
}

#facebook{
    background-color: #4267b3;
}

#github{
    background-color: #95389E;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-link{
    margin-top: 10%;
}

.footer-list .footer-link{
    color: var(--white);
    transition: all 0.4;
}

.footer-list .footer-link:hover{
    color: var(--green);
}


#footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p{
    color: var(--white);
}

#input-group{
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 4px;

}

#input-group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;

}

#input-group button{
    background-color: var(--purple);
    border: none;
    color: var(--white);
    padding: 0px 1.25rem;
    font-size: 1.125%;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-group:hover{
    opacity: 0.8;
}

#footer-copyright{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.bt-email i{
    font-size: 20px;
}


@media screen and (max-width: 730px){
    #footer-content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    footer{
        font-size: 15px;
    }
}