@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,600;1,100;1,400&family=Poppins:wght@300;500;600&display=swap');

:root{
    --white: #F7F7F7;
    --black: #000000;
    --purple: #95389E;
    --green: #43D8C9;
    --shadow: #464646;
    --font: 'Poppins', sans-serif;
    --font2:'Jost', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background: url(/img/bg-desktop.jpg) no-repeat top center/cover;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: var(--font2);
}


body::before {
    content: '';
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
}


.logo img{
    height: 45px;
    width: 167px;

}

.header{
    padding: 20px 50px;
    position: relative;
    z-index: 10;
    width: 50%;
}


.container{
    padding: 40px;
    z-index: 90;
    position: relative;
    max-width: 700px;
    height: 600px;
    margin-left: 50%;
    background-color: rgb(0, 0, 0, 0.75 );
    border: 1px solid var(--purple);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
    
}

.form-titulo {
    font-size: 32px;
    color: var(--white);
    margin-top: 0;
}

.user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    color: var(--white);
    background-color: var(--shadow);
    border: 1px solid var(--shadow);
    padding: 0 10px;
    cursor: pointer;
}


.genero-titulo{
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid var(--white);
}

.categoria{
    margin: 15px 0;
    color: var(--white);
}

.categoria label{
    padding: 0 20px 0 5px;
}

.categoria label,
.categoria input,
.bt-registrar input{
    cursor: pointer;
}

.bt-registrar input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: var(--white);
    background: var(--purple);
}

.bt-registrar input:hover{
    background-color: var(--green);
    cursor: pointer;
}


.entrar{
    color: var(--green);
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;

    margin-top: 15px;

}

.entrar a{
    color: var(--green);
    font-size: 16px;
    text-decoration: none;
}

.entrar a:hover{
    text-decoration: underline;
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .categoria{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .user-info{
        max-height: 380px;
        overflow: auto;
    }

    .user-info::-webkit-scrollbar{
        width: 0;
    }
}




/* CONFIGURAÇÃO DO FOOOTER*/

footer{
    margin-top: 3%;
    width: 100%;
    color: var(--white);
   font-family: var(--font2);
}

.footer-link
{
    text-decoration: none;
}
#footer-content{
    background-color: var(--black);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1{
    margin-bottom: 0.75rem;
}

#footer-social-media{
    display: flex;
    gap: 2rem;
    margin: 1,5rem;
}

#footer-social-media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--white);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover{
    opacity: 0.8;
}


#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807)
}

#facebook{
    background-color: #4267b3;
}

#github{
    background-color: #95389E;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-link{
    margin-top: 10%;
}

.footer-list .footer-link{
    color: var(--white);
    transition: all 0.4;
}

.footer-list .footer-link:hover{
    color: var(--green);
}


#footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p{
    color: var(--white);
}

#input-group{
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 4px;

}

#input-group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;

}

#input-group button{
    background-color: var(--purple);
    border: none;
    color: var(--white);
    padding: 0px 1.25rem;
    font-size: 1.125%;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-group:hover{
    opacity: 0.8;
}

#footer-copyright{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.bt-email i{
    font-size: 20px;
}


@media screen and (max-width: 730px){
    #footer-content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    footer{
        font-size: 15px;
    }
}