@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,600;1,100;1,400&family=Young+Serif&display=swap');

body {
    background: url(/img/bg-desktop.jpg) no-repeat top center/cover;
  
} 

:root{
    --white: #F7F7F7;
    --black: #000000;
    --purple: #95389E;
    --green: #43D8C9;
    --shadow: #464646;
    --font: 'Poppins', sans-serif;
    --font2:'Jost', sans-serif;
}

.titulo{
    font-size: 80px;
    color: var(--white);
    font-family: 'Young Serif';
}

.img{
    width: 400px ;
    right: 400px;
}

.box{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.img-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    justify-content: center;
}

button{
    display: flex;
    font-family: 'Jost', sans-serif;
    color: var(--white);
    font-size: 30px;
    width: 350px;
    border: 1px;
    border-color: var(--purple);
    border-radius: 5px;
}

button:hover{
    border: 1px;
    border-color: var(--green);
    
}
.bt-assistir{
    display: flex;
    background-color: var(--purple);
    
}

.container-pag{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; /*Isso ajusta o container para ocupar toda a tela.*/
}
.quadrante{
    flex: 1;
    border: 1px solid;
    box-sizing: border-box;
}



