/* CONFIGURAÇÕES GERAIS DA PÁGINA */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,600;1,100;1,400&family=Poppins:wght@300;500;600&display=swap');

:root{
    --white: #F7F7F7;
    --black: #000000;
    --purple: #95389E;
    --green: #43D8C9;
    --shadow: #464646;
    --font: 'Poppins', sans-serif;
    --font2:'Jost', sans-serif;
}

body{
    background: url(/img/bg-desktop.jpg) no-repeat top center/cover;
}


/*  MENU */
header{
    background-color: transparent;
    font-family:'Poppins', sans-serif;
    font-size: medium;
    border-radius: 10px;
    border: 1px solid  var(--purple);
}

h1{
    color: var(--white);
    font-family: var(--font);
}

.logo{
    display: flex;
    align-items: center;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4rem;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display:flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: var(--white);
    font-weight: 400;
}

.bt-login button{
    border: none;
    background-color: var(--purple);
    padding: 10px 30px;
    border-radius: 5px;
    font-family:'Poppins', sans-serif;
    font-size: medium;
    color: var(--white);
    cursor: pointer;
}


.bt-login button a{
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    font-size: 1.1rem;
}



.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}


/* CONFIGURAÇÕES DO MENU MOBILE */
@media screen and (max-width: 730px){
    .nav-bar{
        page-break-inside: 1.5rem 4rem;
    }
    
    .nav-item{
        display: none;
    }
    .bt-login{
        display: none;
    }
    .pesquisa-box{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .bt-login{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .bt-login button{
        width: 100%;
    }

    .open{
        display: block;
    }
}

/* CONFIGURAÇÃO DO SLIDER CARD GRANDE*/

   section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
   }
   
   .slider-content{
       width: 400%;
       height: auto;
       display: flex;
   }

   .slider-content input{
    display: none;
    }
   
   .slide-box{
       width: 25%;
       height: auto;
       position: relative;
       text-align: center;
       transition: 1s;
   }
   
   .slide-box img{
       width: 100%;
       border-radius: 10px;
   }
   
   .image{
       width: 100%;
       height: 90%;
   }
   
   .nav-manual, .nav-auto{
       position: absolute;
       width: 99%;
       margin-top: 44%;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .nav-manual .manual-btn, .nav-auto div{
       border: 1px solid var(--green);
       padding: 10px;
       border-radius: 50%;
       cursor: pointer;
       transition: 0.2s;
   }
   
   .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
       margin-right: 10px;
   }
   
   .nav-manual .manual-btn:hover{
       background-color: var(--green);
   }
   
   #radio1:checked ~ .nav-auto .auto-btn1,
   #radio2:checked ~ .nav-auto .auto-btn2,
   #radio3:checked ~ .nav-auto .auto-btn3{
       background-color: var(--green);
   }
   
   #radio1:checked ~ .primeiro{
       margin-left: 0%;
   }
   
   #radio2:checked ~ .primeiro{
       margin-left: -25%;
   }
   
   #radio3:checked ~ .primeiro{
       margin-left: -50%;
   }
   
   @media screen and (max-width: 730px){
       
       .img-desktop{
           display: block;
       }
   
       .nav-auto, .nav-manual{
           margin-top: 44%;
       }
   
       .nav-manual .manual-btn, .nav-auto div{
       padding: 5px;
       }
   
       h1{
           font-size: 20px;
       }
   }
   
/* CONFIGURAÇÃO DO SLIDER CARD PEQUENO*/


/* CONFIGURAÇÃO DO FOOOTER*/

footer{
    width: 100%;
    color: var(--white);
   font-family: var(--font2);
}

.footer-link
{
    text-decoration: none;
}
#footer-content{
    background-color: var(--black);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer-contacts h1{
    margin-bottom: 0.75rem;
}

#footer-social-media{
    display: flex;
    gap: 2rem;
    margin: 1,5rem;
}

#footer-social-media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--white);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer-social-media .footer-link i {
    font-size: 1.25rem;
}

#footer-social-media .footer-link:hover{
    opacity: 0.8;
}


#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#github{
    background-color: #95389E;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-link{
    margin-top: 10%;
}

.footer-list .footer-link{
    color: var(--white);
    transition: all 0.4;
}

.footer-list .footer-link:hover{
    color: var(--green);
}


#footer-subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscribe p{
    color: var(--white);
}

#input-group{
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 4px;
    width: 10px;
}

#input-group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;

}

#input-group button{
    background-color: var(--purple);
    border: none;
    color: var(--white);
    padding: 0px 1.25rem;
    font-size: 1.125%;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input-group:hover{
    opacity: 0.8;
}

#footer-copyright{
    display: flex;
    justify-content: center;
    background-color: var(--black);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

.fa-regular, .fa-envelope{
    width: 20px;
    right: 20px;
}

@media screen and (max-width: 730px){
    #footer-content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
}
