@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,600;1,100;1,400&family=Poppins:wght@300;500;600&display=swap');


:root{
    --white: #F7F7F7;
    --black: #000000;
    --purple: #95389E;
    --green: #43D8C9;
}


body{
    font-family: 'Poppins', sans-serif;
    background: url(/img/bg-desktop.jpg) no-repeat top center/cover;
}

