<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../css/cadastro.css">
    <title>Cadastro - LuluFlix</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="#">
                <img src="/img/logo/LULU.svg" alt="">
            </a>
        </div>
    </div>


  <div class="container">
    <div class="titulo">
        <form action="#">
            <div class="user-detalhes">
                 <div class="input-box">
                    <span class="detalhes">Nome</span>
                    <input type="text" placeholder="Nome completo">

                 </div>

                 <div class="input-box">
                    <span class="detalhes">Data de Nascimento</span>
                    <input type="date">

                 </div>

                <label for="escolhaCor">Escolha uma cor:</label>
                    <select id="escolhaCor" name="cor">
                        <option value="vermelho">Vermelho</option>
                        <option value="azul">Azul</option>
                        <option value="verde">Verde</option>
                        <option value="amarelo">Amarelo</option>
                    </select>

                 <div class="input-box">
                    <span class="detalhes">Nome</span>
                    <input type="text" placeholder="Nome completo">

                 </div>

                 <div class="input-box">
                    <span class="detalhes">Nome</span>
                    <input type="text" placeholder="Nome completo">

                 </div>

                 <div class="input-box">
                    <span class="detalhes">Nome</span>
                    <input type="text" placeholder="Nome completo">

                 </div>
            </div>
        </form>
    </div>
  </div>
</body>
</html>