<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../css/cadastro.css">
    <title>Cadastro - LuluFlix</title>
</head>
<body>
   


  <div class="container">
    <div class="header">
        <div class="logo">
            <a href="#">
                <img src="/img/logo/LULU.svg" alt="">
            </a>
        </div>
    </div>

    <div class="titulo">Cadastro</div>
        <form action="#">
            <div class="user_detalhes">
                 <div class="input-box">
                    <span class="detalhes">Nome: </span>
                    <input type="text" placeholder="Nome completo">

                 </div>

                 <div class="input-box">
                    <span class="detalhes">Data de Nascimento:</span>
                    <input type="date">

                 </div>

                 <div class="input-box">
                    <span class="detalhes">Celular: </span>
                    <input type="text" placeholder="(xx) xxxxx-xxxx">

                 </div>

                 <div class="input-box">
                    <span class="detalhes">Email: </span>
                    <input type="text" placeholder="Email">

                 </div>

                 <div class="input-box">
                    <span class="detalhes">Senha: </span>
                    <input type="text" placeholder="Defina sua senha">

                 </div>

                 <div class="input-box">
                    <span class="detalhes">Confirme sua senha:</span>
                    <input type="text" placeholder="Repita sua senha">

                 </div>

                 <div class="genero_detalhes">
                    <span class="genero_titulo">Gênero</span>
                    <div class="categoria">
                        <label for="">
                            <span class="dot_one"></span>
                            <span class="genero">Masculino</span>
                        </label>
                        <label for="">
                            <span class="dot_one"></span>
                            <span class="genero">Feminino</span>
                        </label>
                        <label for="">
                            <span class="dot_one"></span>
                            <span class="genero">Não informar</span>
                        </label>
                    </div>
                 </div>
            </div>

            <div class="button">
                <input type="submit" value="Registrar">
            </div>
        </form>
   
  </div>
</body>
</html>