<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../css/series_filmes.css">
    <script defer src="../js/series_filmes.js"></script>
    <link rel="icon" href="../img/logo/Luluflix-Logo.png">
    <title>Filmes - LuluFlix</title>
</head>

<body>
    <!--MENU-->
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="./home.html"><img src="../img/logo/LULU.svg" alt=""></a>
            </div>

            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                    <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
                </ul>
            </div>

            <div class="bt-login">
                <a href="../index.html"><button>Sair</button></a>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="../img/icones/icon-menu.svg" alt=""></button>
            </div>
        </nav>

        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
            </ul>

            <div class="bt-login">
                <button><a href="./login.html"></a>Sair</button>
            </div>
        </div>
    </header>

    <!--CARD GRANDE-->
    <h1>Em breve</h1>

    <section class="slider">
        <div class="slider-content">
            <input type="radio" name="btn-radio" id="radio1">
            <input type="radio" name="btn-radio" id="radio2">
            <input type="radio" name="btn-radio" id="radio3">

            <div class="slide-box primeiro">
                <img class="image" src="../img/filmes/duna.jpg" alt="slide 1">
            </div>

            <div class="slide-box">
                <img class="image" src="../img/filmes/starWars.jpg" alt="slide 2">
            </div>

            <div class="slide-box">
                <img class="image" src="../img/filmes/jogosVorazes.jpg" alt="slide 3">
            </div>

            <div class="nav-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>

            <div class="nav-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
        </div>
    </section>

    <!--CARD DOS FILMES-->
    <section class="config">
        <h1>Filmes em alta</h1>
        <div class="wrapper" id="wrapper">
            <div class="carrossel" id="carrossel">
                <div class="container" id="img">
                    <img class="img" src="https://i.pinimg.com/736x/3c/e3/fe/3ce3fe68028e5909a68f9ad5c069ca72.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/26/ac/1e/26ac1e153c9f81168091260e3804f3f5.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/49/3e/2c/493e2c1109f2e72f745eb7880d75e7fe.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/4a/2a/3b/4a2a3bc93e787be2ca605d01f728a1de.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/8f/4a/56/8f4a56d12f0cf31c21608446fcda9f32.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/ff/3a/03/ff3a036725369eadad07782d190c71f4.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/60/58/d2/6058d2e6027e1a6e68836119f93a3bb8.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/aa/18/3c/aa183ca6473266de059730dc0690bc0d.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/14/da/61/14da61b5e8b0711f644bfd323535d3e8.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/04/fb/9f/04fb9f43c3420fee3d455670cdf8e703.jpg"
                        alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita"></i>
        </div>

        <h1>Top 10 filmes mais assistidos</h1>
        <div class="wrapper" id="wrapper2">
            <div class="carrossel" id="carrossel2">
                <div class="container3" id="img2">
                    <img class="img" src="https://i.pinimg.com/564x/d3/fd/ec/d3fdeca15b73d77dc0b389fda380d064.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/99/ca/e1/99cae180b52129bd524e37221bb54ab8.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/44/55/d9/4455d96357fb041d1cf3c8a5264ed593.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/93/20/3f/93203fa37de67fdb6664d279e491ff76.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/d5/5e/07/d55e0786e71f2b74e387ab0d8ea42844.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/02/9f/7c/029f7c425e5ad65f43a62e55e0c564d9.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/54/71/61/547161a5e25064444a8f15c94a2d2076.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/14/0a/69/140a69354a7ebc0f8140cf9fb30d25d5.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/e9/35/41/e935415d7f106594353d3f58b06f1c7e.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/236x/bf/be/2e/bfbe2e4a6fe7e973402c096dcf715429.jpg"
                        alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda2"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita2"></i>
        </div>

        <h1>Para assistir com toda a famila</h1>
        <div class="wrapper" id="wrapper3">
            <div class="carrossel" id="carrossel3">
                <div class="container3" id="img3">
                    <img class="img" src="https://i.pinimg.com/564x/e5/2b/be/e52bbeb0b948a0c4055495bde9430ac7.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/736x/3f/dc/87/3fdc87bea729c14d1968ee66c273b912.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/6d/63/9e/6d639efa4ac75c176581e31b17e5ca0c.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/13/12/71/1312710be59ea0d6c79867c529f8c398.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/736x/a8/12/91/a81291c132aa3d640b8a1ebb61120dc7.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/f7/0a/9f/f70a9f22c8ed2182281a2ce20c877a1a.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/f9/96/a0/f996a048712a0ab1537c4771cf23b1b7.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/4a/32/53/4a3253c02d26aef8b6da0023ad330f33.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/3e/70/63/3e7063069f4e627429241ac28d8e49d4.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/a0/c8/c8/a0c8c8a86af7f1ed956db0b38d0e5f77.jpg"
                        alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda3"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita3"></i>
        </div>

        <h1>Para assistir com o crush</h1>
        <div class="wrapper" id="wrapper4">
            <div class="carrossel" id="carrossel4">
                <div class="container4" id="img4">
                    <img class="img" src="https://i.pinimg.com/564x/0e/f4/a9/0ef4a93d9faff4148923677bd3b8b594.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/ba/3c/a3/ba3ca30028d52b896f550ed22f1c55f9.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/38/7a/44/387a443a94eb353c3221725c7a333b8d.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/a1/18/56/a11856cc1909b5cb1cee0acaff3bc53a.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/a2/d2/ef/a2d2efa6faa0fd97edc64a84b370de68.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/84/b1/12/84b112fb5b9567c4dcdf280aee7828f2.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/f6/ab/72/f6ab726b814c7953963c17743ebe1f4f.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/56/01/c6/5601c6a51abc960a9a290e3ae1e3fdac.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/48/a0/13/48a013635baeb19667f4399eb036563e.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/32/90/63/329063ae194373cbd8432724653e09e0.jpg"
                        alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda4"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita4"></i>
        </div>

        <h1>Para cantar e dançar juntos</h1>
        <div class="wrapper" id="wrapper5">
            <div class="carrossel" id="carrossel5">
                <div class="container5" id="img5">
                    <img class="img" src="https://i.pinimg.com/564x/e6/ef/20/e6ef20655a2202afff1a5fed2ba4bf1b.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/49/3e/2c/493e2c1109f2e72f745eb7880d75e7fe.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/6a/ba/3d/6aba3da70ff3338947cb76391a5f1bcb.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/e8/85/e2/e885e2d1622680840791feafdc1e9436.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/b6/ca/58/b6ca581dcd5781e161ce3ac4330a5605.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/0c/d2/fa/0cd2fac2bce6d8b24269cb063d0a00c4.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/65/39/1b/65391b4454cf649f4e93c42ac2f4f247.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/56/37/67/563767475d395be899f98bda8951ffae.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/62/a8/91/62a891d3f5fdcc556fcc7b688a0a7034.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/af/6b/10/af6b104352bf4779920b40bcbcb4eff2.jpg"
                        alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda5"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita5"></i>
        </div>

        <h1>Para se emocionar</h1>
        <div class="wrapper" id="wrapper6">
            <div class="carrossel" id="carrossel6">
                <div class="container6" id="img6">
                    <img class="img" src="https://i.pinimg.com/564x/cf/1a/af/cf1aafca9ee3f9dd2683746c70df88ff.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/98/39/a6/9839a669ce82d98f8ea18d7e5846032e.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/78/ed/47/78ed47c0ed4ad2539892a16c874f2960.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/5f/d0/6a/5fd06a83163d42160b905fd42cc65736.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/c1/67/c9/c167c9ac8331e46f0105c4a084afe7da.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/19/9b/f4/199bf45423f2a3a55f2c19890f875299.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/736x/67/d5/fb/67d5fbe73c92ec5d7c4e4e7924c4ac1c.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/b3/87/ab/b387ab8291b8d4ef62311f3d9151876b.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/7a/1e/e8/7a1ee8c62b2e485c938c1d5c0529066d.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/d1/bc/c1/d1bcc175e05d7c868c55b28029cbb2c2.jpg"
                        alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda6"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita6"></i>
        </div>

        <h1>Para se acabar de rir</h1>
        <div class="wrapper" id="wrapper7">
            <div class="carrossel" id="carrossel7">
                <div class="container7" id="img7">
                    <img class="img" src="https://i.pinimg.com/564x/08/02/92/080292bacd32f2300b755ad3b96d9f99.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/2f/78/13/2f78130118ef09d879f275c1991b254b.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/de/3c/1c/de3c1c9898ea9eafbb0f0426fb939ae0.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/33/eb/1b/33eb1b5b72cc182bb9964415320df79b.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/04/a4/a4/04a4a44d7d39fa2888e231f8afb59d65.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/2f/69/98/2f69986a558237423231b4234b9a8ca6.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/70/30/38/7030382987dacb0fe8c7f1513a3ec177.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/0c/74/ef/0c74ef9ca6fdadf9939c00d1753363cf.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/cb/ed/25/cbed25149d9b2f7cd1c3ee5b0ce28707.jpg"
                        alt="">
                    <img class="img" src="https://i.pinimg.com/564x/84/ab/be/84abbe4b05f27f93562afa0b3ff4a8ff.jpg"
                        alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda7"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita7"></i>
        </div>
    </section>
    </main>

    <br>

    <!--FOOTER-->
    <footer>
        <div id="footer-content">
            <div id="footer-contacts">
                <img src="../img/logo/LULU.svg" alt="">
                <div id="footer-social-media">
                    <a href="https://instagram.com/ifro.jipa?igshid=MzRlODBiNWFlZA==" target="_blank"
                        class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/ifrojiparana" target="_blank" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link" id="github">
                        <i class="fa-brands fa-github"></i>
                    </a>

                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Quem Somos</h3>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/amanda-alves-ved/" target="_blank"
                        class="footer-link">Amanda</a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/nnathallia/" target="_blank" class="footer-link">Nathalia</a>
                </li>

                <li>
                    <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link">Repository</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Contato</h3>
                </li>

                <li>
                    <a href="" target="_blank" class="footer-link">e-mail</a>
                </li>

                <li>
                    <a href="" target="_blank" class="footer-link">Telefone</a>
                </li>

                <li>
                    <a href="" target="_blank" class="footer-link">Celular</a>
                </li>
            </ul>

            <div id="footer-subscribe">
                <h3>Inscreva-se</h3>

                <p>
                    Digite seu e-mail para ser notificado sobre
                    nossas novidades e notícias
                </p>

                <div id="input-group">
                    <input type="email" id="email">
                    <button class="bt-email">
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="footer-copyright">
            &#169
            2023 all rigthts reserved
        </div>
    </footer>
</body>

</html>