<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../css/filme.css">
    <title>Filmes - LuluFlix</title>
</head>
<body>
    <!--MENU-->
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="./home.html"><img src="../img/logo/LULU.svg" alt=""></a>
            </div>

            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                    <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
                </ul>
            </div>

            <div class="bt-login">
                <button><a href="./login.html"></a>Entrar</button>
            </div>      

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img  class="icon" src="../img/icones/icon-menu.svg" alt=""></button>
            </div>
        </nav>

        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
            </ul>

            <div class="bt-login">
                <button><a href="./login.html"></a>Entrar</button>
            </div>   
        </div>
    </header>
</body>
</html>