<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/home.css" type="text/css">

    <script defer src="../js/home.js"></script>
    <link rel="icon" href="../img/logo/Luluflix-Logo.png">
    
    <title>Home - Luluflix</title>
</head>
<body>
    <!--MENU-->
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="./home.html"><img src="../img/logo/LULU.svg" alt=""></a>
            </div>

            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                    <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
                </ul>
            </div>

            <div class="bt-login">
                <a href="../index.html"><button>Sair</button></a>
            </div>       

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img  class="icon" src="../img/icones/icon-menu.svg" alt=""></button>
            </div>
        </nav>

        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
            </ul>

            <div class="bt-login">
                <button><a href="../index.html"></a>Sair</button>
            </div>   
        </div>
    </header>

    <main>
         <!--CARD GRANDE-->
        <h1> Em breve  </h1>
        <section class="slider">
            <div class="slider-content">
                <input type="radio" name="btn-radio" id="radio1">
                <input type="radio" name="btn-radio" id="radio2">
                <input type="radio" name="btn-radio" id="radio3">

                <div class="slide-box primeiro">
                    <img class="image" src="../img/series/theWalkingdead.jpg" alt="slide 1">
                </div>

                <div class="slide-box">
                    <img class="image" src="../img/filmes/starWars.jpg" alt="slide 2">
                </div>

                <div class="slide-box">
                    <img class="image" src="../img/filmes/enrolados.jpg" alt="slide 3">
                </div>

                <div class="nav-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                </div>

                <div class="nav-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                </div>
            </div>
        </section>

        <!--CARD MARVEL-->
        <h1> Navegue pelo universo Marvel</h1>
        <section class="card-marvel">
        <div class="container-marvel">
            <div class="box-marvel">
                <p class="marvel">MARVEL</p>
                <img src="../img/marvel/Ant-Man.png" alt="" class="model">
                <div class="details">
                    <img src="../img/marvel/AntMan-logo.png" alt="" class="logo-marvel">
                    <p>Super-herói que usa sua habilidade de encolher para realizar missões impossíveis, como invadir locais secretos ou salvar pessoas de situações perigosas.</p>
                </div>
            </div>
        </div>

       <a href="ironMan.html"> 
        <div class="container-marvel">
            <div class="box-marvel">
                <p class="marvel">MARVEL</p>
                <img src="../img/marvel/IronMan.png" alt="" class="model">
                <div class="details">
                    <img src="../img/marvel/IronMan-logo.png" alt="" class="logo-marvel">
                    <p>Bilionário inventor que usa armadura tecnológica para proteger o mundo, mas também luta contra seus próprios demônios pessoais.</p>
                </div>
            </div>
        </div></a>

        <div class="container-marvel">
            <div class="box-marvel">
                <p class="marvel">MARVEL</p>
                <img src="../img/marvel/Venom.png" alt="" class="model">
                <div class="details">
                    <img src="../img/marvel/Venom-logo.png" alt="" class="logo-marvel">
                    <p>Simbionte alienígena que se liga a um hospedeiro humano, dando-lhe superpoderes, mas também uma personalidade violenta.</p>
                </div>
            </div>
        </div>

        <div class="container-marvel">
            <div class="box-marvel">
                <p class="marvel">MARVEL</p>
                <img src="../img/marvel/Thor.png" alt="" class="model">
                <div class="details">
                    <img src="../img/marvel/Thor-logo.png" alt="" class="logo-marvel">
                    <p>Deus do trovão da mitologia nórdica é banido à Terra por seu pai, Odin. Ele usa seu martelo Mjolnir para combater o crime e defender a Terra.</p>
                </div>
            </div>
        </div>
        </section>

        <!--CARD DOS FILMES-->
        <section class="config">
            <h1> Top 10 no LuluFlix hoje </h1>
            <div class="wrapper" id="wrapper">
                <div class="carrossel" id="carrossel">
                    <div class="container" id="img">
                        <a href="../template/ironMan.html"><img class="img" src="https://i.pinimg.com/564x/1f/4a/07/1f4a0776ddee3fa5603a91722c384b1e.jpg" alt=""></a>
                        <a href="../template/theBoys.html"><img class="img" src="https://i.pinimg.com/564x/6b/79/8c/6b798cadef72e19e153c47fe0163fc50.jpg" alt=""></a>
                        <img class="img" src="https://i.pinimg.com/564x/ea/84/df/ea84df6e625b2083691060daefee54ce.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/98/1b/f9/981bf9ad23dfe350f913d7230bae56b4.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/af/b5/eb/afb5eb4d723c2385531525bbc787db0d.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/d9/54/1a/d9541a77b102d993c3b29e389f5c43f5.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/49/63/4d/49634d78e2babb14d2358addad1a4457.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/10/b3/1a/10b31a9a883366134d430d0167a6ad8e.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/fe/99/86/fe99860a21c0825aa2b21ba944ec1dfd.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/5e/1f/df/5e1fdf3d9ed27d4667d52feb14729042.jpg" alt="">
                    </div>
                </div>
                <i class="fa-solid fa-caret-left" id="bt-esquerda"></i>
                <i class="fa-solid fa-caret-right" id="bt-direita"></i>
            </div>

            <h1> Novidades </h1>
            <div class="wrapper" id="wrapper2">
                <div class="carrossel" id="carrossel2">
                    <div class="container3" id="img2">
                        <img class="img" src="https://img.elo7.com.br/product/zoom/26B1354/big-poster-serie-pretty-little-liars-lo05-tamanho-90x60-cm-presente-nerd.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/c3/19/a4/c319a4f7960c84a785c30e33b6d6edc3.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/236x/b7/4c/4d/b74c4d228ef7179fcc453fc2fe8369ab.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/59/22/5b/59225bff9b1e81720ae3d2a45723a566.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/236x/a5/66/2d/a5662d6a1e6f5f196c34e2a9f3fabb1c.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/236x/e2/68/32/e26832a3a58c7111d167af58732e796c.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/d0/30/56/d03056f6132d2a678c42838507548246.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/15/4a/66/154a6638fcf59b56b0a4aaf052752aa8.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/69/00/26/690026226e7e7f3ac52a04d2f8c15ac0.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/2b/1d/b6/2b1db6333afded33090a9d7ee4e1d7ce.jpg" alt="">
                    </div>
                </div>
                <i class="fa-solid fa-caret-left" id="bt-esquerda2"></i>
                <i class="fa-solid fa-caret-right" id="bt-direita2"></i>
            </div>
            
            <h1> Top 10 séries mais assistidas </h1>
            <div class="wrapper" id="wrapper3">
                <div class="carrossel" id="carrossel3">
                    <div class="container3" id="img3">
                        <img class="img" src="https://i.pinimg.com/564x/47/0d/6c/470d6c4461ca191e6dd7c3f9cb309dce.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/46/84/de/4684de7e080ee747bffbb5fedf43ede0.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/f1/70/d9/f170d92de1d20e60b928ce5a4b582970.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/02/4b/d1/024bd189213e284caa114df3aebee02f.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/c3/7c/21/c37c21080958c44c74153564cd7ff156.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/18/0b/1f/180b1f60b92a2c5fc3b41f884feb4373.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/c7/aa/60/c7aa606da4f2816eda2d73ea68d32058.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/07/6c/3e/076c3ee1c26328fd026856400d1c61e0.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/b1/7d/62/b17d6215c783d5a7e9aea153c9183833.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/e4/f1/e3/e4f1e3de1a486a5ce2ca2ed151595859.jpg" alt="">
                    </div>
                </div>
                <i class="fa-solid fa-caret-left" id="bt-esquerda3"></i>
                <i class="fa-solid fa-caret-right" id="bt-direita3"></i>
            </div>

            <h1> Top 10 filmes mais assistidos </h1>
            <div class="wrapper" id="wrapper4">
                <div class="carrossel" id="carrossel4">
                    <div class="container4" id="img4">
                        <img class="img" src="https://i.pinimg.com/564x/d3/fd/ec/d3fdeca15b73d77dc0b389fda380d064.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/99/ca/e1/99cae180b52129bd524e37221bb54ab8.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/44/55/d9/4455d96357fb041d1cf3c8a5264ed593.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/93/20/3f/93203fa37de67fdb6664d279e491ff76.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/d5/5e/07/d55e0786e71f2b74e387ab0d8ea42844.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/02/9f/7c/029f7c425e5ad65f43a62e55e0c564d9.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/54/71/61/547161a5e25064444a8f15c94a2d2076.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/14/0a/69/140a69354a7ebc0f8140cf9fb30d25d5.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/e9/35/41/e935415d7f106594353d3f58b06f1c7e.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/236x/bf/be/2e/bfbe2e4a6fe7e973402c096dcf715429.jpg" alt="">
                    </div>
                </div>
                <i class="fa-solid fa-caret-left" id="bt-esquerda4"></i>
                <i class="fa-solid fa-caret-right" id="bt-direita4"></i>
            </div>

            <h1> Top 10 animações mais assistidas </h1>
            <div class="wrapper" id="wrapper5">
                <div class="carrossel" id="carrossel5">
                    <div class="container5" id="img5">
                        <img class="img" src="https://i.pinimg.com/564x/49/26/6f/49266f25fc9c8b7d0f5f60ab8d5b32f5.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/5c/d2/e3/5cd2e3849bcbe3b094e8a697abdacf1d.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/f1/b7/eb/f1b7ebf5a3714035e798772088ab7427.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/97/76/8f/97768fde9c15500e066ac5e4bc1a0c42.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/83/35/01/833501523927efc84b60c716499d7386.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/f5/12/cd/f512cdb48b400d9ae6f04aaeb7ab8f7f.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/93/0e/bd/930ebdcbe7dda50d57f4fa109ca7bb4c.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/d2/d4/97/d2d497cdd67ceb5316533f1cfa5d9602.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/736x/83/f3/7d/83f37d979b63ae4aa16216a7c277497e.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/d2/28/4e/d2284ee44c7c1c2fb2f8648ab3e16fa5.jpg" alt="">
                    </div>
                </div>
                <i class="fa-solid fa-caret-left" id="bt-esquerda5"></i>
                <i class="fa-solid fa-caret-right" id="bt-direita5"></i>
            </div>

        </section> 
    </main>

    <br>
    
    <!--FOOTER-->
    <footer>
        <div id="footer-content">
            <div id="footer-contacts">
                <img src="../img/logo/LULU.svg" alt="">
                <div id="footer-social-media">
                    <a href="https://instagram.com/ifro.jipa?igshid=MzRlODBiNWFlZA==" target="_blank" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/ifrojiparana" target="_blank" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link" id="github">
                        <i class="fa-brands fa-github"></i>                   
                    </a>

                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Quem Somos</h3>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/amanda-alves-ved/" target="_blank" class="footer-link">Amanda</a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/nnathallia/" target="_blank" class="footer-link">Nathalia</a>
                </li>

                <li>
                    <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link">Repository</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Contato</h3>
                </li>

                <li>
                    <a href="" target="_blank" class="footer-link">e-mail</a>
                </li>

                <li>
                    <a href="" target="_blank" class="footer-link">Telefone</a>
                </li>

                <li>
                    <a href="" target="_blank" class="footer-link">Celular</a>
                </li>
            </ul>

            <div id="footer-subscribe">
                <h3>Inscreva-se</h3>

                <p>
                    Digite seu e-mail para ser notificado sobre
                    nossas novidades e notícias
                </p>

                <div id="input-group">
                    <input type="email" id="email">
                    <button class="bt-email">
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="footer-copyright">
            &#169
            2023 all rigthts reserved
        </div>
    </footer>
</body>
</html>