<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../css/ironMan.css">
    <link rel="icon" href="../img/logo/Luluflix-Logo.png">
    <title>Iron Man - LuluFlix</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="./home.html"><img src="../img/logo/LULU.svg" alt=""></a>
            </div>

            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                    <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
                </ul>
            </div>

            <div class="bt-login">
                <a href="../index.html"><button>Sair</button></a>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="../img/icones/icon-menu.svg" alt=""></button>
            </div>
        </nav>

        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
            </ul>

            <div class="bt-login">
                <button><a href="./login.html"></a>Sair</button>
            </div>
        </div>
    </header>


    <main>
        <section>
            <img class="logo-img" src="../img/filmes/ironMan-logo.png" alt="">

            <p class="text">Tony Stark é um industrial bilionário e inventor brilhante
                que realiza testes bélicos no exterior, mas é sequestrado por terroristas
                que o forçam a construir uma arma devastadora. Em vez disso, ele constrói
                uma armadura blindada e enfrenta seus sequestradores. Quando volta aos
                Estados Unidos, Stark aprimora a armadura e a utiliza para combater o crime.
            </p>

            <div class="btn-box2">
                <img src="../img/icones/botao-play.png" class="play">
                <div>
                    <p>Assistir</p>
                </div>
            </div>
        </section>
    </main>

</body>