<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LOGO -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="icon" href="../img/logo/Luluflix-Logo.png">

    <title>Login - LuluFlix</title>
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="../index.html">
                <img src="/img/logo/LULU.svg" alt="">
            </a>
        </div>
    </div>

    <div class="login-body">
        <div class="login-box">
            <h2>Entrar</h2>

            <form action="home.html" method="get">
                <div class="input-box">
                    <input `required type="email" placeholder="Email ou número de telefone">
                </div>

                <div class="input-box">
                    <input type="password" required="password" placeholder="Senha">
                </div>

                <div class="submit">
                </div>
                <a href="../template/home.html" type="submit"><button>Entrar</button></a>
            </form>

            <div class="support">
                <div class="remember">
                    <span><input type="checkbox" style="margin: 0;padding: 0;height: 13px;"></span>
                    <span>Lembre-se de mim</span>
                </div>
            </div>

            <div class="help">
                <a href="#">
                    Precisa de ajuda?
                </a>
            </div>

            <div class="login-footer">
                <div class="login-facebook">
                    <span><i height="20px" class="fa-brands fa-facebook"> </i></span>
                    <span><a href="https://www.facebook.com"> Conectar com o Facebook </a></span>
                </div>

                <div class="sign-up">
                    <p>Novo por aqui? <a href="/template/cadastro.html"> Assine agora!</a></p>
                </div>

                <div class="terms">
                    <p>Esta página é protegida pelo Google reCAPTCHA para garantir que você não é um robô. <a
                            href="#">Saiba mais</a></p>
                </div>
            </div>
        </div>
    </div>


    <!--FOOTER-->
    <footer>
        <div id="footer-content">
            <div id="footer-contacts">
                <img src="../img/logo/LULU.svg" alt="">
                <div id="footer-social-media">
                    <a href="https://instagram.com/ifro.jipa?igshid=MzRlODBiNWFlZA==" target="_blank"
                        class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="https://www.facebook.com/ifrojiparana" target="_blank" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link" id="github">
                        <i class="fa-brands fa-github"></i>
                    </a>

                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Quem Somos</h3>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/amanda-alves-ved/" target="_blank"
                        class="footer-link">Amanda</a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/nnathallia/" target="_blank" class="footer-link">Nathalia</a>
                </li>

                <li>
                    <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link">Repository</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Contato</h3>
                </li>

                <li>
                    <a href="" target="_blank" class="footer-link">e-mail</a>
                </li>

                <li>
                    <a href="" target="_blank" class="footer-link">Telefone</a>
                </li>

                <li>
                    <a href="" target="_blank" class="footer-link">Celular</a>
                </li>
            </ul>

            <div id="footer-subscribe">
                <h3>Inscreva-se</h3>

                <p>
                    Digite seu e-mail para ser notificado sobre
                    nossas novidades e notícias
                </p>

                <div id="input-group">
                    <input type="email" id="email">
                    <button class="bt-email">
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="footer-copyright">
            &#169
            2023 all rigthts reserved
        </div>
    </footer>
</body>

</html>