<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../css/series.css">
    <script defer src="../js/series_filmes.js"></script>
    <title>Series - LuluFlix</title>
</head>
    <body>
        <!--MENU-->
        <header>
            <nav class="nav-bar">
                <div class="logo">
                    <a href="./home.html"><img src="../img/logo/LULU.svg" alt=""></a>
                </div>

                <div class="nav-list">
                    <ul>
                        <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                        <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
                    </ul>
                </div>

                <div class="bt-login">
                    <button><a href="./login.html"></a>Sair</button>
                </div> 
                
                <div class="mobile-menu-icon">
                    <button onclick="menuShow()"><img  class="icon" src="../img/icones/icon-menu.svg" alt=""></button>
                </div>
            </nav>

            <div class="mobile-menu">
                <ul>
                    <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                    <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
                </ul>

                <div class="bt-login">
                    <button><a href="./login.html"></a>Entrar</button>
                </div>   
            </div>
        </header>

        <!--CARD GRANDE-->
    <h1> Séries em alta</h1>

    <section class="slider">
        <div class="slider-content">
            <input type="radio" name="btn-radio" id="radio1">
            <input type="radio" name="btn-radio" id="radio2">
            <input type="radio" name="btn-radio" id="radio3">

            <div class="slide-box primeiro">
                <img class="image" src="../img/series/theBigBangTheory.jpg" alt="slide 1">
            </div>

            <div class="slide-box">
                <img class="image" src="../img/series/friends.jpg" alt="slide 2">
            </div>

            <div class="slide-box">
                <img class="image" src="../img/series/BrooklynNineNine.jpg" alt="slide 3">
            </div>

            <div class="nav-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>

            <div class="nav-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
        </div>
    </section>

    <!--CARD DOS FILMES-->
    <section class="config">
        <h1> Produções em alta</h1>
        <div class="wrapper" id="wrapper">
            <div class="carrossel" id="carrossel">
                <div class="container" id="img">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita"></i>
        </div>

        <h1> Produções em alta</h1>
        <div class="wrapper" id="wrapper2">
            <div class="carrossel" id="carrossel2">
                <div class="container3" id="img2">
                    <img class="img" src="https://img.elo7.com.br/product/zoom/26B1354/big-poster-serie-pretty-little-liars-lo05-tamanho-90x60-cm-presente-nerd.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/c3/19/a4/c319a4f7960c84a785c30e33b6d6edc3.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda2"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita2"></i>
        </div>
        
        <h1> Produções em alta</h1>
        <div class="wrapper" id="wrapper3">
            <div class="carrossel" id="carrossel3">
                <div class="container3" id="img3">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda3"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita3"></i>
        </div>

        <h1> Produções em alta</h1>
        <div class="wrapper" id="wrapper4">
            <div class="carrossel" id="carrossel4">
                <div class="container4" id="img4">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda4"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita4"></i>
        </div>

        <h1> Produções em alta</h1>
        <div class="wrapper" id="wrapper5">
            <div class="carrossel" id="carrossel5">
                <div class="container5" id="img5">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda5"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita5"></i>
        </div>

        <h1> Produções em alta</h1>
        <div class="wrapper" id="wrapper6">
            <div class="carrossel" id="carrossel6">
                <div class="container6" id="img6">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                    <img class="img" src="/img/series/brooklyn99-card.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda6"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita6"></i>
        </div>
    </section> 
</main>

<br>

<!--FOOTER-->
<footer>
    <div id="footer-content">
        <div id="footer-contacts">
            <img src="../img/logo/LULU.svg" alt="">
            <div id="footer-social-media">
                <a href="https://instagram.com/ifro.jipa?igshid=MzRlODBiNWFlZA==" target="_blank" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://www.facebook.com/ifrojiparana" target="_blank" class="footer-link" id="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>

                <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link" id="github">
                    <i class="fa-brands fa-github"></i>                   
                </a>

            </div>
        </div>

        <ul class="footer-list">
            <li>
                <h3>Quem Somos</h3>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/amanda-alves-ved/" target="_blank" class="footer-link">Amanda</a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/nnathallia/" target="_blank" class="footer-link">Nathalia</a>
            </li>

            <li>
                <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link">Repository</a>
            </li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Contato</h3>
            </li>

            <li>
                <a href="" target="_blank" class="footer-link">e-mail</a>
            </li>

            <li>
                <a href="" target="_blank" class="footer-link">Telefone</a>
            </li>

            <li>
                <a href="" target="_blank" class="footer-link">Celular</a>
            </li>
        </ul>

        <div id="footer-subscribe">
            <h3>Inscreva-se</h3>

            <p>
                Digite seu e-mail para ser notificado sobre
                nossas novidades e notícias
            </p>

            <div id="input-group">
                <input type="email" id="email">
                <button class="bt-email">
                    <i class="fa-regular fa-envelope"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="footer-copyright">
        &#169
        2023 all rigthts reserved
    </div>
</footer>
        
    </body>
</html>