<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../css/series_filmes.css">
    <script defer src="../js/series_filmes.js"></script>
    <link rel="icon" href="../img/logo/Luluflix-Logo.png">
    <title>Series - LuluFlix</title>
</head>
    <body>
        <!--MENU-->
        <header>
            <nav class="nav-bar">
                <div class="logo">
                    <a href="./home.html"><img src="../img/logo/LULU.svg" alt=""></a>
                </div>

                <div class="nav-list">
                    <ul>
                        <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                        <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
                    </ul>
                </div>

                <div class="bt-login">
                    <a href="../index.html"><button>Sair</button></a>
                </div>  
                
                <div class="mobile-menu-icon">
                    <button onclick="menuShow()"><img  class="icon" src="../img/icones/icon-menu.svg" alt=""></button>
                </div>
            </nav>

            <div class="mobile-menu">
                <ul>
                    <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                    <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
                </ul>

                <div class="bt-login">
                    <button><a href="./login.html"></a>Sair</button>
                </div>   
            </div>
        </header>

        <!--CARD GRANDE-->
    <h1>Em breve</h1>

    <section class="slider">
        <div class="slider-content">
            <input type="radio" name="btn-radio" id="radio1">
            <input type="radio" name="btn-radio" id="radio2">
            <input type="radio" name="btn-radio" id="radio3">

            <div class="slide-box primeiro">
                <img class="image" src="../img/series/theBigBangTheory.jpg" alt="slide 1">
            </div>

            <div class="slide-box">
                <img class="image" src="../img/series/friends.jpg" alt="slide 2">
            </div>

            <div class="slide-box">
                <img class="image" src="../img/series/BrooklynNineNine.jpg" alt="slide 3">
            </div>

            <div class="nav-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>

            <div class="nav-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
        </div>
    </section>

    <!--CARD DOS FILMES-->
    <section class="config">
        <h1> Séries em alta</h1>
        <div class="wrapper" id="wrapper">
            <div class="carrossel" id="carrossel">
                <div class="container" id="img">
                    <img class="img" src="https://i.pinimg.com/564x/6b/79/8c/6b798cadef72e19e153c47fe0163fc50.jpg"" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/7f/e2/83/7fe283932441d554af30a9ecde41cb25.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/98/1b/f9/981bf9ad23dfe350f913d7230bae56b4.jpg" alt="">
                    <img class="img" src="https://img.elo7.com.br/product/zoom/26B1354/big-poster-serie-pretty-little-liars-lo05-tamanho-90x60-cm-presente-nerd.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/c3/19/a4/c319a4f7960c84a785c30e33b6d6edc3.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/236x/b7/4c/4d/b74c4d228ef7179fcc453fc2fe8369ab.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/736x/f3/1b/12/f31b12190d363a6ed3c7fb26f62b7cb7.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/39/f3/25/39f3252f0fd283adeae651e192dfeff6.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/fd/69/51/fd695156e0e5fdfaf267c91e44e57708.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/d7/9a/c5/d79ac5d110c92e685d700a9bd045d790.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita"></i>
        </div>

        <h1> Top 10 séries mais assistidas</h1>
        <div class="wrapper" id="wrapper2">
            <div class="carrossel" id="carrossel2">
                <div class="container3" id="img2">
                    <img class="img" src="https://i.pinimg.com/564x/47/0d/6c/470d6c4461ca191e6dd7c3f9cb309dce.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/46/84/de/4684de7e080ee747bffbb5fedf43ede0.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/f1/70/d9/f170d92de1d20e60b928ce5a4b582970.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/02/4b/d1/024bd189213e284caa114df3aebee02f.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/c3/7c/21/c37c21080958c44c74153564cd7ff156.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/18/0b/1f/180b1f60b92a2c5fc3b41f884feb4373.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/c7/aa/60/c7aa606da4f2816eda2d73ea68d32058.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/07/6c/3e/076c3ee1c26328fd026856400d1c61e0.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/b1/7d/62/b17d6215c783d5a7e9aea153c9183833.jpg" alt="">
                        <img class="img" src="https://i.pinimg.com/564x/e4/f1/e3/e4f1e3de1a486a5ce2ca2ed151595859.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda2"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita2"></i>
        </div>
        
        <h1>Para assistir com toda a familia</h1>
        <div class="wrapper" id="wrapper3">
            <div class="carrossel" id="carrossel3">
                <div class="container3" id="img3">
                    <img class="img" src="https://i.pinimg.com/564x/83/74/ab/8374ab2cf8029713271369a487d429ca.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/b6/c6/0e/b6c60e7080ba72eff038795d0bee84f1.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/736x/95/e6/01/95e601803bd3eeece6cc4ab4898c563a.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/51/df/fc/51dffc878e7c23b170457547770b0612.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/18/8b/c5/188bc54765bd75179af050cfef996aeb.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/bd/a8/dd/bda8dd4905e376a0876baef466204078.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/98/19/ed/9819ed74a78bf0592a3d14c444c695fa.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/80/28/c8/8028c8b4a9c00de10d3b7ef710124c10.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/0b/5a/81/0b5a81cb51d5d7f46e221b7f3d9db8bc.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/b0/1c/29/b01c299558e7231ddec9365f5349e257.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda3"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita3"></i>
        </div>

        <h1>Para asistir com o crush</h1>
        <div class="wrapper" id="wrapper4">
            <div class="carrossel" id="carrossel4">
                <div class="container4" id="img4">
                    <img class="img" src="https://i.pinimg.com/564x/a8/ee/d4/a8eed4c75e6f0d31f81c2093f3db41ed.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/86/ea/6c/86ea6c374945bb11d55721964774d6a6.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/2a/80/49/2a8049060cdc58f685541b563414342c.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/90/94/38/909438342af3667a8a9b7eccf9b3f010.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/cf/50/d6/cf50d6c8228fdd1a04ca7d59d4607b8b.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/ab/a2/08/aba2088c6ff3bb5271e5eca98c3753cb.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/73/35/c2/7335c2db9ae0097b4bea9d5269c15a2b.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/b9/e7/7c/b9e77c629f502b18110ed52aaf3bdd79.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/736x/04/7f/8d/047f8df13a591cbf490bda13e6869de3.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/c3/19/a4/c319a4f7960c84a785c30e33b6d6edc3.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda4"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita4"></i>
        </div>

        <h1>Para cantar e dançar juntos</h1>
        <div class="wrapper" id="wrapper5">
            <div class="carrossel" id="carrossel5">
                <div class="container5" id="img5">
                    <img class="img" src="https://i.pinimg.com/564x/da/ea/07/daea07ef3f117e1e089a4c3dbf766996.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/18/8b/c5/188bc54765bd75179af050cfef996aeb.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/ed/18/ae/ed18ae4aaa3833b80d7573a95cc7fe9a.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/41/6e/6d/416e6d067ec89ad69b82c24d3d254f63.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/c9/4d/3a/c94d3a5a478cf115ec4f8914d559e341.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/e4/bc/4b/e4bc4bd7f6198cfa2ae3c90a655eafb6.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/34/f2/2d/34f22d5e5a019b18eee68ff1fbe967af.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/2c/53/15/2c53150a6b9372b7e46499f6827ff6bf.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/16/de/14/16de14d1256f7952b53aa9c07b8c185f.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda5"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita5"></i>
        </div>

        <h1>Para se emocionar</h1>
        <div class="wrapper" id="wrapper6">
            <div class="carrossel" id="carrossel6">
                <div class="container6" id="img6">
                    <img class="img" src="https://i.pinimg.com/564x/99/20/fd/9920fdfd1e3687f4235cce5ef7e60138.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/36/69/69/3669691893a850660e0c5302d0e4c172.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/736x/b3/37/ca/b337ca3e40aece2899e73ce4e59e01f4.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/32/bb/2d/32bb2dbfe2240f3990b80e7bd39110c9.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/96/38/94/963894c40da01db2d21d00aab2456057.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/a6/7b/6a/a67b6a851b82d3493358845eaabd8236.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/62/b9/5a/62b95a0f02cea50ee309f37ff44130cb.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/87/ca/7b/87ca7b67ac20b4d4ffd6a49c2ca0cc0a.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/0a/e0/4c/0ae04ccf149e19346c8b31da55ef56fb.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/b0/70/6c/b0706c5cec6991c5e6879d95ba83ce7f.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda6"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita6"></i>
        </div>

        <h1>Para se acabar de rir</h1>
        <div class="wrapper" id="wrapper7">
            <div class="carrossel" id="carrossel7">
                <div class="container7" id="img7">
                    <img class="img" src="https://i.pinimg.com/564x/e5/b4/d9/e5b4d9147a03dbc360c125dfe27ffdcc.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/18/c6/45/18c6450d05546d140fcd489457965518.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/72/b6/d7/72b6d7eddd670aaa9fbc4d1466eba9ee.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/37/15/64/371564aa1c2a7cb500ccb1ba61d4ec3a.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/f9/a7/e0/f9a7e06f7aeb1553e0390e1a457168ae.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/1e/39/59/1e39590dba8208c37dd9bb097a0ccfd9.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/a7/2b/5f/a72b5fbc5d2f68b2a6141759ddd18057.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/0d/31/f7/0d31f7d038195406f633f42ec70b786f.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/f3/d0/da/f3d0dadc26a2034957063186eed489ff.jpg" alt="">
                    <img class="img" src="https://i.pinimg.com/564x/a8/6c/0d/a86c0d9e48cae0c76d879963b0133157.jpg" alt="">
                </div>
            </div>
            <i class="fa-solid fa-caret-left" id="bt-esquerda7"></i>
            <i class="fa-solid fa-caret-right" id="bt-direita7"></i>
        </div>
    </section> 
</main>

<br>

<!--FOOTER-->
<footer>
    <div id="footer-content">
        <div id="footer-contacts">
            <img src="../img/logo/LULU.svg" alt="">
            <div id="footer-social-media">
                <a href="https://instagram.com/ifro.jipa?igshid=MzRlODBiNWFlZA==" target="_blank" class="footer-link" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="https://www.facebook.com/ifrojiparana" target="_blank" class="footer-link" id="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </a>

                <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link" id="github">
                    <i class="fa-brands fa-github"></i>                   
                </a>

            </div>
        </div>

        <ul class="footer-list">
            <li>
                <h3>Quem Somos</h3>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/amanda-alves-ved/" target="_blank" class="footer-link">Amanda</a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/nnathallia/" target="_blank" class="footer-link">Nathalia</a>
            </li>

            <li>
                <a href="https://github.com/nnathalia/LuluFlix" target="_blank" class="footer-link">Repository</a>
            </li>
        </ul>

        <ul class="footer-list">
            <li>
                <h3>Contato</h3>
            </li>

            <li>
                <a href="" target="_blank" class="footer-link">e-mail</a>
            </li>

            <li>
                <a href="" target="_blank" class="footer-link">Telefone</a>
            </li>

            <li>
                <a href="" target="_blank" class="footer-link">Celular</a>
            </li>
        </ul>

        <div id="footer-subscribe">
            <h3>Inscreva-se</h3>

            <p>
                Digite seu e-mail para ser notificado sobre
                nossas novidades e notícias
            </p>

            <div id="input-group">
                <input type="email" id="email">
                <button class="bt-email">
                    <i class="fa-regular fa-envelope"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="footer-copyright">
        &#169
        2023 all rigthts reserved
    </div>
</footer>
        
    </body>
</html>