<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="../css/theBoys.css">
    <link rel="icon" href="../img/logo/Luluflix-Logo.png">
    <title>The Boys - LuluFlix</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="./home.html"><img src="../img/logo/LULU.svg" alt=""></a>
            </div>

            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                    <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
                </ul>
            </div>

            <div class="bt-login">
                <a href="../index.html"><button>Sair</button></a>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="../img/icones/icon-menu.svg" alt=""></button>
            </div>
        </nav>

        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="./filmes.html" class="nav-link">Filmes</a></li>
                <li class="nav-item"><a href="./series.html" class="nav-link">Series</a></li>
            </ul>

            <div class="bt-login">
                <button><a href="./login.html"></a>Sair</button>
            </div>
        </div>
    </header>


    <main>
        <section>
            <img class="logo-img" src="../img/series/theboysLogo.png" alt="">

            <div class="btn-box">
                <a href="" class="btn">Temporada 1</a>
                <a href="" class="btn">Temporada 2</a>
                <a href="" class="btn">Temporada 3</a>
            </div>

            <p class="text">A Terra é habitada por super-heróis que são
                um inspiração para a humanidade. Porém, esses protetores
                têm um lado sinistro que a maioria das pessoas desconhece.
                Se eles usam seus poderes para o mal, Hughie, Billy e o
                resto do time devem detê-los.
            </p>

            <div class="btn-box2">
                <img src="../img/icones/botao-play.png" class="play">
                <div>
                    <p>Episódio 1</p>
                </div>
            </div>
        </section>
    </main>
</body>